# T-City Lite v0.1 - core startup module

# FiveM defaults kept for a usable base runtime.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents

# Framework core.
ensure oxmysql
ensure qb-core
ensure qb-loading

# Admin Menu and dependencies
ensure menuv
ensure qb-adminmenu
